:root {
    --text-color: #fff;
    --backgroud-color: #182c49;
    --primary-color: #65B741;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .25s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: var(--text-color);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--backgroud-color);
    color: var(--text-color);
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.back-btn {
    margin: 36px;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-color);
    z-index: 1955;
}

.icon {
    font-size: 36px;
}