#img-bgr {
    /* background-image: url(http://192.168.96.231:81/stream); */
    background-image: url(https://images.unsplash.com/photo-1502500505273-8e5240bbe2ad);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* transform: rotate(-90deg); */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.control-move {
    --size: 360px;
    position: relative;
    width: var(--size);
    height: var(--size);
    z-index: 2;
}

.control-move .item {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    background-color: var(--primary-color);
    border-radius: 12px;
}

.control-move .item.up {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
}

.control-move .item.down {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
}

.control-move .item.left {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.control-move .item.right {
    position: absolute;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}